DATABASE_URL=postgres://user:password@localhost:5432/propertea
SR_USER=simplyrets
SR_PASS=simplyrets
JWT_SECRET=change_me_use_openssl_rand_base64_64
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000 http://127.0.0.1:5500 https://www.propertea.me https://propertea.me
